@use '../utilities' as *;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    font-family: $ff-primary;
}