@use '../utilities/' as *;

.countdown {
    $root: &;
    background: url('../img/pattern-hills.svg'), url('../img/bg-stars.svg'), linear-gradient(180deg, #191A24 17%, #1e1f29 51%, #2b212d 83%);
    background-repeat: no-repeat;
    background-position: 82% 100%, center center;
    background-size: 1000px, cover;
    min-height: 100vh;

    @include breakpoint('md') {
        background-position: bottom center, center center;
        background-size: contain;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 136px;
        align-items: center;
        height: 100vh;
        padding-bottom: 20px;

    }

    &__heading {
        color: $c-white;
        font-size: 23px;
        letter-spacing: 7px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 20px;

        @include breakpoint('sm') {
            padding: 0;
        }
    }
    
    &__socials {
        display: flex;
        gap: 31px;
        margin-top: 20vh;

        @include breakpoint('md') {
            margin-top: 42.6vh;
        }
    }
    
    &__socials-link {
        display: inherit;
        text-decoration: none;
        font-size: 1.8rem;
        transition: transform 350ms ease-in;

        @include breakpoint('md') {
            &:hover {
                transform: rotate(360deg);
                #{$root}__socials-icon::before {
                    animation: iconRotate 300ms ease-in forwards;
                }
            }
        }

        &:focus {
            outline: 2px dashed $c-red-soft;
            outline-offset: 4px;
        }
        
        // Browsers that don’t support :focus-visible use the focus styles defined in the :focus rule and ignore the second style rule completely (because :focus-visible is unknown to them).
        // Browsers should now only indicate focus when it is helpful to the user - such as in cases where the user interacts with the page via a keyboard.
        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
}